
# Ignore everything in the build directory.
build/

# Do not store node modules in your repo.
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/


# Flask 
instance/
.webassets-cache

# PyTest
.pytest_cache/
